body {
  margin: 0;
  font-family: monospace;
  background: #0f0f0f;
  color: white;
}

header {
  text-align: center;
  padding: 15px;
  background: #1a1a1a;
  border-bottom: 2px solid #2ecc71;
}

.inventory {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.slot {
  background: #2a2a2a;
  border: 2px solid #444;
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

.slot:hover {
  border-color: #2ecc71;
  transform: scale(1.05);
}

.card {
  width: 80%;
  margin: auto;
  padding: 20px;
  background: #1c1c1c;
  border: 2px solid #2ecc71;
}

.hidden {
  display: none;
}

input, select {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  background: #111;
  color: white;
  border: 1px solid #333;
}

button {
  width: 100%;
  padding: 10px;
  background: #2ecc71;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.review-box {
  margin-bottom: 15px;
}

.mc-item {
  background: #222;
  padding: 10px;
  margin: 8px 0;
  border-left: 3px solid #2ecc71;
}

/* XP BAR */
.xp-wrap {
  width: 60%;
  margin: auto;
  background: #111;
  border: 2px solid #2ecc71;
}

.xp-bar {
  height: 20px;
  width: 0%;
  background: limegreen;
  color: black;
  text-align: center;
}
